# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Database
db.sqlite3
*.sqlite3

# Logs
*.log

# Environment variables
.env

# Static files
staticfiles/
media/

# IDE
.vscode/
.idea/